.main-app {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

/* Mobiles */

@media (max-width: 641px) {
  
    .main-app {
        flex-flow: column nowrap;
    }
  
}