/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Main Styling start */
  
  html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%; /* Для использования em. Теперь 1rem = 10px */
    overflow: auto;  
  }
  
  a {
    text-decoration: none;
  }
  
  .main-container {
      margin-top: 65px;
      margin-bottom: 65px;
      margin: 10px;
  }
  
  
  /* Main Styling end */

  .add-new-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0.1875rem;
    color: rgb(115, 116, 117);
    font-size: 1.4rem;
    width: 243px;
    padding: 5px 0px;
    cursor: pointer;
}

.add-new-btn:hover {
      background-color: #d7d8db;
}